/* Custom table styles */
section table {
    width: 100%;
    border-collapse: collapse;
}
section table th {
    background-color: #00a400;
    color: white;
    padding: 8px;
    text-align: left;
}
section table tr:nth-child(odd) {
    background-color: #f2f2f2;
}
section table tr:nth-child(even) {
    background-color: #ffffff;
}
section table th, section table td {
    width: 50%;
    padding: 5px;
    text-align: left;
}

.hljs-type {
    color: #458;
}

.hljs-symbol {
    color: #990073;
}

.hljs-built_in {
    color: #00a8e0;
}

.hljs-literal {
    color: #212821;
}

.hljs-string {
    color: rgb(125, 14, 236);
}